.div-cabeçario{
    background-color: black;
    color:aliceblue;
    display: flex;
}
.img1{
    width: 100px;
}
.div-eu{
    font-size: 20px;
    text-align: center;
display: flex;
margin: 0px 350px 0px 350px;
border: solid black ;
border-radius: 30px;
background-color: white;
 font-size: 23px;
}
.texto{
    font-size: 20px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    
}
.img2{
    width: 300px;
    height: 500px;
   float: right;
   border-radius: 30px;
}
body{
    background-color: #A6A6A6;
}
.titulo2{
    font-size: 35px;
}